@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic');
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    @include fontFam('Poppins');
    font-size: 62.5%;
    scroll-behavior: smooth;
}

$regular-text-size: 2.64rem;
$primary-text-color: #283747;

.App {
    @include flex(column, space-between, center);
    min-height: 100vh;
}

header {
    @include flex(column);
    @include size(100%, 40vh);
    margin-bottom: 50px;
    color: $primary-text-color;
    background: linear-gradient(
        to right,
        rgba(139, 85, 233, 0.8) 0%,
        rgba(82, 113, 230, 0.9) 100%
    );

    svg {
        @include size(20px);
        margin: 8px 0;
    }
    h1 {
        @include fontFam('Merriweather');
        @include font(4.2rem, 600);
        text-shadow: 2px 2px 0 #fff;
        letter-spacing: 4px;
    }
    p {
        @include font($regular-text-size, 300);
        margin: 4px 0;
        color: #fff;
    }
    small {
        @include font(1.8rem, 300);
        margin: 4px 0;
        margin-bottom: 12px;
        text-align: center;
        color: #fff;

        strong {
            font-size: $regular-text-size;
            color: #61dbfb;
        }
    }
}

main {
    @include flex(column);
    width: 60%;
    margin: auto;

    .cat-card {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        margin: 20px 0;

        .cat-card-img {
            margin-bottom: 12px;
            overflow: hidden;

            img {
                @include size(100%, 800px);
                transition: transform 1s ease;
            }
            img:hover {
                transform: scale(1.5);
            }
        }

        .cat-card-body {
            padding: 30px;
            font-size: $regular-text-size;
            color: $primary-text-color;

            h1 {
                font-size: 5rem;
                color: #19c1ec;
            }
            strong {
                @include font(2.4rem, 500);
            }
            p {
                font-weight: 300;
                line-height: 1.6;
            }
            span {
                color: #616161;
                font-weight: 400;
            }

            .cat-card-desc {
                p {
                    margin-top: 4px;
                }
            }
        }
    }
    .cat-card:hover {
        box-shadow: 0 0 3px 2px #0000004d;
    }
}

footer {
    @include flex(column);
    @include font(1.8rem, 300);
    width: 100%;
    margin-top: 40px;
    padding: 50px;
    letter-spacing: 1.25px;
    background-color: #d6d0f6;

    a {
        margin: 0 4px;
        text-decoration: none;
        color: #663298;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        svg {
            @include size(60px);
            margin: 4px;
        }
    }
}
