@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

$regular-text-size: 2.64rem;
$primary-text-color: #283747;

header {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    color: $primary-text-color;
    background: linear-gradient(
        to right,
        rgb(139, 85, 233, 0.8) 0%,
        rgb(82, 113, 230, 0.9) 100%
    );

    svg {
        $logo-size: 20px;
        width: $logo-size;
        height: $logo-size;
        margin: 8px 0;
    }
    h1 {
        font-family: 'Merriweather', sans-serif;
        text-shadow: 2px 2px 0 #fff;
        font-size: 4.2rem;
        font-weight: 600;
        letter-spacing: 4px;
    }
    p {
        font-size: $regular-text-size;
        font-weight: 300;
        margin: 4px 0;
        color: #fff;
    }
    small {
        font-size: 1.8rem;
        font-weight: 300;
        margin: 4px 0;
        margin-bottom: 12px;

        color: #fff;

        strong {
            font-size: $regular-text-size;
            color: #61dbfb;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;

    .cat-card {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        margin: 20px 0;

        .cat-card-img {
            margin-bottom: 12px;
            overflow: hidden;

            img {
                $cat-image-height: 800px;
                width: 100%;
                height: $cat-image-height;
                transition: transform 1s ease;
            }
            img:hover {
                transform: scale(1.5);
            }
        }

        .cat-card-body {
            padding: 30px;
            font-size: $regular-text-size;
            color: $primary-text-color;

            h1 {
                font-size: 2.8rem;
                font-weight: 300;
            }
            p {
                font-weight: 300;
                line-height: 1.6;
            }
            span {
                color: #616161;
                font-weight: 400;
            }
        }
    }
}

footer {
    width: 100%;
    margin-top: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1.25px;
    background-color: #d6d0f6;

    a {
        margin: 0 4px;
        text-decoration: none;
        color: #663298;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        svg {
            $arrow-size: 60px;
            width: $arrow-size;
            height: $arrow-size;
            margin: 4px;
        }
    }
}
