@mixin Tablet {
    @media screen and (min-width: 740px) and (max-width: 1023px) {
        @content;
    }
}

@mixin Mobile {
    @media screen and (max-width: 739px) {
        @content;
    }
}

@mixin flex($direction, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin fontFam($family) {
    font-family: $family, sans-serif;
}

@mixin font($size, $weight: normal) {
    font-size: $size;
    font-weight: $weight;
}
